@import '@/styles/phone/common.less';

.in-step {
  .step-wrap {
    .in-layout-content();
    .step-content {
      margin: 2rem 0;
      .step-line {
        display: none;
      }
    }
  }
}

.in-header() {
  .is-phone-menu {
    display: block;
  }
  .is-pc-menu {
    display: none;
  }
}

.in-components() {
  .in-step();
  .in-header();
}
