@import 'ant-design-vue/dist/antd.less';
@import './base.less';



// Card
.ant-card-head {
  border: 0;
}

// Modal
.ant-modal-wrap {
  .ant-modal-content {
    border-radius: 25px;

    .ant-modal-header {
      border-radius: 25px 25px 0 0;
    }

    .ant-modal-footer {
      border-radius: 0 0 25px 25px;
    }

    .ant-btn {
      border-radius: 25px;
    }
  }
}
