@import 'ant-design-vue/dist/antd.less';

@color-white: #fff;
@color-primary: #0f3c15;
@color-menu-default: rgba(0, 0, 0, 0.80);

@color-title: @color-primary;
@color-text: @color-bg;
@color-bg: #86ec5d;
@color-bg1: @color-primary;

// --------------------------------------------
@header-height: 3.57rem;


