@import 'ant-design-vue/dist/antd.less';

@color-white: #ffffff;
@color-black: #000000;
@color-menu-default: rgba(0, 0, 0, 0.80);

@color-text-dark: @color-bg1;
@color-text: @color-bg;
@color-text-1: #0f100d;
@color-text-2: #213638;
@color-bg: #00BBD8;
@color-bg1: #022233;
@color-bg2: #edefeb;

// --------------------------------------------

@header-height: 3.57rem;
@min-width: 760px;


