@import '@/styles/base.less';


.app-title-font {
  font-family: titleFont, serif;
}

.app-text-font {
  font-family: detailFont, serif;
}

.app-detail-font {
  font-family: textFont, serif;
}


.app-header-distance {
  padding-top: @header-height;
}

.app-clean-float {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// 常用布局 ---------------------------------------------------------------------------------------------------------
.layout-content {
  width: 1280px;
  margin: 0 auto;
}

.layout-two-side-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-two-side-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.layout-two-side-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-horizontal-equalization {
  padding: 4rem 1.5rem;

  &:first-child {
    padding-left: 0;
    flex: 9;
  }

  &:last-child {
    padding-right: 0;
    flex: 10;
  }
}


// 常用背景 ---------------------------------------------------------------------------------------------------------
.layout-background-1 {
  background: @color-bg;
}

.layout-background-2 {
  background: @color-bg1;
}

.layout-background-3 {
  background: @color-bg2;
}

// 常用文本 ---------------------------------------------------------------------------------------------------------
.app-title-text {
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 3.5rem;
}

.app-title-text-small {
  font-weight: bolder;
  line-height: 2.6rem;
  font-size: 2.2rem;
}

.app-subtitle-text {
  font-weight: bolder;
  line-height: 2.2rem;
  font-size: 1.5rem;
}

.app-description-text {
  font-size: 1rem;
  font-weight: lighter;
}

.app-description-text-small {
  font-size: .8rem;
  font-weight: lighter;
}


// 常用颜色 ---------------------------------------------------------------------------------------------------------
.app-color-text {
  color: @color-text !important;
}

.app-color-white {
  color: @color-white !important;
}

.app-color-text-dark {
  color: @color-text-dark !important;
}

.app-color-text-main {
  color: @color-text-1 !important;
}

.app-color-text-grey {
  color: @color-text-2 !important;
}
