@import '@/styles/common.less';
@import '@/styles/phone/index.less';

body,
div,
p,
ul,
li,
span,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
}
html {
  body {
    transition:
      color 0.5s,
      background-color 0.5s;
    font-family:
      Helvetica,
      Arial,
      PingFang SC,
      Microsoft YaHei,
      Tahoma,
      sans-serif,
      Avenir;
  }
}

img {
  width: 100%;
}

#app {
  overflow: hidden auto;
  background: white;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

input:-webkit-autofill {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}

.in-header-Pc() {
  .is-phone-menu {
    display: none;
  }

  .is-pc-menu {
    display: block;
  }
}
.in-header-Pc();

@media screen and (min-width: 771px) and (max-width: 1350px) {
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
