@import '@/styles/common.less';
@import '@/styles/phone/index.less';

body,
div,
p,
ul,
li,
span,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
}

body {
  transition: color 0.5s, background-color 0.5s;
  font-family: Helvetica, Arial, PingFang SC, Microsoft YaHei, Tahoma,
    sans-serif, Avenir;
}

img {
  width: 100%;
}

#app {
  overflow: hidden auto;
  background: white;
  width: 100%;
}

@font-face {
  font-family: titleFont;
  src: url('@/assets/iconfont/WorldwiseSans-Heavy.ttf');
}

@font-face {
  font-family: textFont;
  src: url('@/assets/iconfont/Avenir.otf');
}

@font-face {
  font-family: detailFont;
  src: url('@/assets/iconfont/Poppins-Bold.ttf');
}

input:-webkit-autofill {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}

.in-header-Pc() {
  .is-phone-menu {
    display: none;
  }

  .is-pc-menu {
    display: block;
  }
}

@media (min-width: 2301px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1981px) and (max-width: 2300px) {
  html {
    font-size: 22px;
  }
  .in-header-Pc();
}

@media screen and (min-width: 1681px) and (max-width: 1980px) {
  html {
    font-size: 20px;
  }
  .in-header-Pc();
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
  html {
    font-size: 18px;
  }
  .in-header-Pc();
}

@media screen and (min-width: 1251px) and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {
  html {
    font-size: 14.5px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1120px) {
  html {
    font-size: 13px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 931px) and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 881px) and (max-width: 930px) {
  html {
    font-size: 11.5px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 771px) and (max-width: 880px) {
  html {
    font-size: 10px;
  }
  .in-header-Pc();

  .layout-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
