@import '@/styles/base.less';

body,
div,
p,
ul,
li,
span,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
}


body {
  transition: color 0.5s, background-color 0.5s;
  font-family: Helvetica, Arial, PingFang SC, Microsoft YaHei, Tahoma,
  sans-serif, Avenir;
  height: 100%;
}

#app {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: titleFont;
  src: url('@/assets/iconfont/WorldwiseSans-Heavy.ttf')
}

@font-face {
  font-family: textFont;
  src: url('@/assets/iconfont/Avenir.ttc')
}

.app-height {
  height: 100%;
}

.layout-content {
  width: 1260px;
  margin: 0 auto;
}

input:-webkit-autofill {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}

.layout-two-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 2301px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2300px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1681px) and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}


@media screen and (min-width: 1341px) and (max-width: 1680px) {
  html {
    font-size: 18px;
  }
}


@media screen and (min-width: 880px) and (max-width: 1340px) {
  html {
    font-size: 14px;
  }

  .layout-content {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 761px) and (max-width: 880px) {
  html {
    font-size: 11px;
  }

  .layout-content {
    width: 100%;
    padding: 0 10px;
  }
}


@media (max-width: 760px) {
  html {
    font-size: 10px;
  }

  .layout-content {
    width: 760px;
    padding: 0 10px;
  }

  .body {
    width: 760px
  }

  #app {
    width: 760px;
  }
}
