@top-distance: 3.5rem;
@top-title-height: 25rem;

.structure-title-wrap {
  position: relative;
  padding-top: @top-distance;
  padding-bottom: 8rem;
}
.data-item-wrap {
  margin-top: 5rem;
}

.structure-title-left {
  position: relative;
  width: 31.5rem;
  height: @top-title-height;
}
.structure-title-notes {
  display: inline-flex;
  align-items: center;
  background: @color-bg;
  border-radius: 1rem;
  padding: 0.3rem 0;

  .structure-title-notes-text {
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    color: @color-text-dark;
    margin-left: 0.7rem;
  }

  span:last-child {
    padding-top: 0.5px;
    margin-left: 0.5rem !important;
    margin-right: 0.7rem;
  }
}

.home-title-padding-top {
  padding-top: 1.5rem;
}

.home-title-padding-bottom {
  padding-bottom: 2.5rem;
}

.title-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.structure-title-right {
  display: flex;
  position: absolute;
  top: @top-distance;
  right: -5rem;

  img {
    height: @top-title-height;
  }
}

// 宽度
.structure-percentage-width-50 {
  width: 50%;
}

.app-text-description-spacing-top {
  padding-top: 0.1rem;
}

.app-text-description-title {
  height: 1.7rem;
  line-height: 1.7rem;
  font-weight: bolder;
}
