@top-distance: 3.5rem;
@top-title-height: 25rem;


.structure-title-wrap {
  position: relative;
  padding-top: @top-distance;
  padding-bottom: 8rem;

  .data-item-wrap {
    margin-top: 5rem;

  }
}

.structure-title-left {
  position: relative;
  width: 29rem;
  height: @top-title-height;

  .structure-title-notes {
    display: inline-block;
    background: @color-bg;
    border-radius: 15px;
    padding: 2px .3rem;


    .structure-title-notes-text {
      display: inline-block;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      color: @color-text-dark;
      padding: 0 5px;
    }
  }

  .home-title-padding-top {
    padding-top: 1.5rem;
  }

  .home-title-padding-bottom {
    padding-bottom: 2.5rem;
  }

  .title-button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.structure-title-right {
  display: flex;
  position: absolute;
  top: @top-distance;
  right: -5rem;

  img {
    height: @top-title-height;
  }
}

.structure-step-left {

}

// 宽度
.structure-percentage-width-50 {
  width: 50%;
}
