@font-face {
  font-family: titleFont;
  src: url('@/assets/iconfont/WorldwiseSans-Heavy.ttf');
}

@font-face {
  font-family: textFont;
  src: url('@/assets/iconfont/Avenir.otf');
}

@font-face {
  font-family: detailFont;
  src: url('@/assets/iconfont/Poppins-Bold.ttf');
}
